@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Nunito+Sans&family=Spline+Sans+Mono:wght@500&display=swap');@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&family=Nunito+Sans&family=Spline+Sans+Mono:wght@500&display=swap');

body {
    width: 100%;
    font-family: 'Mukta', sans-serif;
    /* font-family: 'Nunito Sans', sans-serif; */
}

.headerContainer,
.footerContainer {
    height: 8vh;
    width: 100%;
    background-color: #35363a;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
}

.headerContainer {
    top: 0;
    justify-content: center;
    color: white;
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.footerContainer {
    color: white;
    position: absolute;
    bottom: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.mainComponents {
    /* position: relative; */
    /* color: pink; */
    top: 8vh;
    padding: 8vh;
}
/* 
.HomeScreen {
} */